<nav id='navigation' >
    <ul class="navigation-list clearfix list-unstyled">
        <li ui-sref-active="active">
            <!--<a ui-sref="board.about" data-toggle="tab" data-menu="about">-->
            <a ui-sref="board.about">
                <i class="icon-user"></i> <span>À propos de moi</span>
            </a>
        </li>
        <!--<li><a ui-sref="board.career" data-toggle="tab" data-menu="resume"><i class="icon-newspaper"></i>  <span>Mon parcours</span></a></li>-->
        <li ui-sref-active="active"><a ui-sref="board.career" ><i class="icon-newspaper"></i>  <span>Mon parcours</span></a></li>
        <!--<li><a href="#portfolio" data-toggle="tab" data-menu="portfolio"><i class="icon-folder-open"></i> <span>Portfolio</span></a></li>-->
        <!--<li><a href="#blog" data-toggle="tab" data-menu="blog"><i class="icon-pencil"></i> <span >Blog</span></a></li>-->
        <!--<li><a ui-sref="board.contact" data-toggle="tab" data-menu="contact"><i class="icon-mail"></i> <span>Contact</span></a></li>-->
        <li ui-sref-active="active"><a ui-sref="board.contact" ><i class="icon-mail"></i> <span>Contact</span></a></li>
    </ul>
</nav>