<!--<div id='contact' class="tab-pane fade">-->
<div id='contact' class="tab-pane fade in">
    <div class="body-content">
        <h3 class="title with-icon"><span class="fa fa-coffee icn-title"></span> Me trouver et me contacter</h3>

        <!-- =========
        Start map section
        ===================================-->
        <div class="map-area">
            <div id="map"></div>
            <div class="info-map">
                <h3>Informations de contact</h3>
                <ul class="list-unstyled list-info">
                    <li><i class="fa fa-home"></i> UFR Mathématique et Informatique - Artem (Nancy)</li>
                    <li><i class="fa fa-phone"></i> +33 6 71 93 90 36</li>
                    <li><i class="fa fa-envelope"></i> <a href="mailto:nom.prenom(at)gmail.com">nom.prenom(at)gmail.com</a></li>
                    <li><i class="fa fa-skype"></i> <a href="#">maxime.bret</a></li>
                </ul>
            </div>
        </div>
        <div class="deviter"></div>
        <br/>
        <!-- =========
        End map section
        ===================================-->


        <!-- =========
        Start form contact section
        ===================================-->
        <!--                    <form >
                              <div class="row">
                                <div class="col-md-6">
                                  <div class="form-group">
                                    <label for="FullnameForm">Fullname</label>
                                    <input type="text" class="form-control" id="FullnameForm" placeholder="Enter Fullname">
                                  </div>
                                </div>
                                <div class="col-md-6">
                                  <div class="form-group">
                                    <label for="CompanyForm">Company</label>
                                    <input type="text" class="form-control" id="CompanyForm" placeholder="Enter Company">
                                  </div>
                                </div>
                              </div>
                              <div class="row">
                                <div class="col-md-6">
                                  <div class="form-group">
                                    <label for="EmailForm">Email Address</label>
                                    <input type="email" class="form-control" id="EmailForm" placeholder="Enter Address">
                                  </div>
                                </div>
                                <div class="col-md-6">
                                  <div class="form-group">
                                    <label for="PhoneForm">Phone Number</label>
                                    <input type="text" class="form-control" id="PhoneForm" placeholder="Enter Phone NUmber">
                                  </div>
                                </div>
                              </div>
                              <div class="form-group">
                                <label for="MesageForm">Message</label>
                                <textarea class="form-control" rows="8" id="MesageForm" placeholder="Enter Message"></textarea>
                              </div>
                              <button type="submit" class="btn btn-flat btn-lg"><span class="glyphicon glyphicon-send"></span> Send</button>
                            </form>-->
        <!-- =========
        End form contact section
        ===================================-->

    </div>
</div>