<header class="portrait">
    <div class="bg-line"></div>
    <div class="body-portrait">

        <!-- =========
        Start Note Slider
        ===================================-->
        <div class="box-note">
            <div id="slider-note" class="carousel slide" data-ride="carousel" data-interval="10000">
                <div class="carousel-inner">
                    <div class="item active">
                        Bienvenue sur ma page personnelle. J'aime les visites alors n'hésitez pas à y jeter un coup d'oeil :)
                    </div>
                    <div class="item">
                        Je suis disponible pour une offre d'emploi.
                        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                    </div>
                </div>
            </div>
        </div>
        <!-- =========
        End Note Slider
        ===================================-->

        <!-- =========
        Start portrait image Section
        ===================================-->
        <div class="portrait-img-area">
            <img src="assets/images/avatar3.jpg" alt="avatar" class="avatar"/>
            <div class="profile-links">
                <!--<a href="" class="facebook"  data-toggle="tooltip" data-placement="left" title="Facebook"><i class="fa fa-facebook"></i></a>-->
                <a href="mailto:contact@maximebret.fr" class="facebook"  data-toggle="tooltip" data-placement="left" title="Me contacter"><i class="fa fa-envelope"></i></a>
                <!--<a href="" class="twitter"  data-toggle="tooltip" data-placement="right" title="Twitter"><i class="fa fa-twitter"></i></a>-->
                <a href="http://maximebret.fr/assets/content/Maxime_Bret_CV.pdf" class="twitter"  data-toggle="tooltip" data-placement="right" title="Mon CV"><i class="fa fa-download"></i></a>
            </div>
        </div>
        <!-- =========
        End  portrait image Section
        ===================================-->

        <!-- =========
        Start Show Yor Name Section
        ===================================-->
        <h1 class="name">Maxime Bret <small>Développeur web / natif</small></h1>
        <img src="assets/images/arrow-down.png" alt="" class="img-arrow">
        <a ui-sref="board.about" class="btn btn-flat" ng-click="openContent()" id="open-content">À propos de moi</a>
        <img src="assets/images/arrow-down.png" alt="" class="img-arrow">
        <!-- =========
        Start Show Yor Name Section
        ===================================-->

    </div>
</header>