<!--<div id='resume' class="tab-pane fade">-->
<div id='resume' class="tab-pane fade in">
    <div class="body-content">
        <div class="row">
            <div class="col-md-8">


                <!-- =========
                Start Time line section
                ===================================-->
                <h3 class="title with-icon"><span class="glyphicon glyphicon-plane icn-title"></span> Historique professionnel</h3>
                <div class="box-block">
                    <div class="time-line">
                        <div class="item-event current">
                            <span class="date">2014</span>
                            <div class="event-content">
                                <h4>Hôte d'accueil</h4>
                                <h5>Citéa</h5>
                                <h6><i class="fa fa-book"></i> Emploi étudiant</h6>
                                <p>Responsable accueil et encaissement au cinéma numérique Citéa dans la ville de TOUL <b>depuis février 2012</b>.</p>
                            </div>
                        </div>
                        <div class="item-event">
                            <span class="date">2014</span>
                            <div class="event-content">
                                <h4>Développeur PHP, JS / Node.js, Angular.js</h4>
                                <h5>Versusmind</h5>
                                <h6><i class="fa fa-book"></i> Stage</h6>
                                <p>Ajout de fonctionalités et refactoring interne de l'application de gestion de projet <a href="http://vm-project.com">VM Project</a>. Reprise du développement d'une application mobile pour la bourse aux céréales de EMC2 jusqu'à la phase de test en recette.</p>
                            </div>
                        </div>
                        <div class="item-event">
                            <span class="date">2013</span>
                            <div class="event-content">
                                <h4>Développeur Java EE</h4>
                                <h5>CORA Informatique</h5>
                                <h6><i class="fa fa-book"></i> Stage</h6>
                                <p>Reprise et développement d'une application Java EE interne permettant d'administrer et de récupérer des statistiques du pool d'impression des CORA de France.</p>
                            </div>
                        </div>
                        <div class="item-event">
                            <span class="date">2011</span>
                            <div class="event-content">
                                <h4>Développeur web</h4>
                                <h5>Pays Barrois</h5>
                                <h6><i class="fa fa-book"></i> Stage</h6>
                                <p>Réalisation d'un Outil de gestion des dépenses énergétiques au sein du Pays Barrois (communauté de commune de Bar Le Duc).</p>
                            </div>
                        </div>
                        <div class="item-event last">
                            <span class="date">2010</span>
                            <div class="event-content">
                                <h4>Hôte d'accueil</h4>
                                <h5>CORA</h5>
                                <h6><i class="fa fa-book"></i> Emploi étudiant</h6>
                                <p>Hôte d'accueil au service après vente de Cora Houdemont. Emploi saisonnier <b>les étés 2008, 2009 et 2010.</b></p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- =========
                End Time line section
                ===================================-->

                <!-- =========
                Start Time line section
                ===================================-->
                <div class="deviter"></div>
                <h3 class="title with-icon"><span class="fa fa-book icn-title"></span> Mes études</h3>
                <div class="box-block">
                    <div class="time-line">
                        <div class="item-event current">
                            <span class="date">2014</span>
                            <div class="event-content">
                                <h4>Étudiant en MASTER Ingénierie des SI et management d'entreprise</h4>
                                <h5 >MIAGE Nancy</h5>
                                <p>J'ai intégré cette école en 2011 en 2ème année de licence. Cette école ne complète pas seulement ma formation tertiaire, elle m'apprend à réfléchir correctement et méthodologiquement aux projets étudiés. C'est pour moi un aspect important quand on sait que l'informatique est en constante évolution. Il est donc plus que jamais essentiel de savoir s'adapter.</p>
                            </div>
                        </div>
                        <div class="item-event">
                            <span class="date">2011</span>
                            <div class="event-content">
                                <h4>BTS - Informatique de gestion</h4>
                                <h5>Lycée Raymond-Poincaré</h5>
                                <p>Suivie de 2009 à 2011, cette formation très orientée professionnel était un bon tremplin après mon BAC. le BTS m'a rapidement permis de comprendre et d'appliquer les concepts communs de programmation en utilisant plusieurs des logiciels reconnus en entreprise.</p>
                            </div>
                        </div>
                        <div class="item-event last">
                            <span class="date">2008</span>
                            <div class="event-content">
                                <h4>Baccalauréat - S.T.G</h4>
                                <h5>Lycée Louis-Majorelle</h5>
                                <p>Formation technologique avec option Marketing. J'ai obtenu mon diplôme en 2008.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- =========
                End Time line section
                ===================================-->

            </div>
            <div class="col-md-4">
                <h3 class="title with-icon"><span class="fa fa-code icn-title"></span> Compétences de programmation</h3>
                <div class="box-block">


                    <!-- =========
                    STart your Skills Progress bars section
                    ===================================-->
                    <ul class="list-unstyled list-skills">
                        <li>
                            <span class="caption-skill">PHP</span>
                            <div class="progress">
                                <div class="progress-bar" style="width: 80%;">
                                    <span>80% </span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <span class="caption-skill">HTML(5) & CSS(3)</span>
                            <div class="progress">
                                <div class="progress-bar" style="width: 80%;">
                                    <span>80% </span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <span class="caption-skill">Java</span>
                            <div class="progress">
                                <div class="progress-bar" style="width: 70%;">
                                    <span>70% </span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <span class="caption-skill">MYSQL</span>
                            <div class="progress">
                                <div class="progress-bar"  style="width: 70%;">
                                    <span>70% </span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <span class="caption-skill">Node.js</span>
                            <div class="progress">
                                <div class="progress-bar" style="width: 60%;">
                                    <span>60% </span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <span class="caption-skill">C</span>
                            <div class="progress">
                                <div class="progress-bar" style="width: 60%;">
                                    <span>60% </span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <span class="caption-skill">Angular.js</span>
                            <div class="progress">
                                <div class="progress-bar" style="width: 50%;">
                                    <span>50% </span>
                                </div>
                            </div>
                        </li>

                        <li>
                            <span class="caption-skill">Java EE</span>
                            <div class="progress">
                                <div class="progress-bar" style="width: 50%;">
                                    <span>50% </span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <span class="caption-skill">.NET (C#)</span>
                            <div class="progress">
                                <div class="progress-bar" style="width: 50%;">
                                    <span>50% </span>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <!-- =========
                    End your Skills Progress bars section
                    ===================================-->

                </div>

                <div class="deviter"></div>
                <h3 class="title with-icon"><span class="fa fa-code icn-title"></span> Compétences Développement (comp.)</h3>
                <div class="box-block">
                    <ul class="list-unstyled list-strip">
                        <li><i class="fa fa-check"></i> Frameworks MVC (Struts, Angular, ZF1&2, ...)</li>
                        <li><i class="fa fa-check"></i> Javascript & Node.js (Jquery, Express, Sails.js, ...)</li>
                        <li><i class="fa fa-check"></i> Développement Android, Titanium</li>
                        <li><i class="fa fa-check"></i> Tests unitaires / intégrations</li>
                        <li><i class="fa fa-check"></i> Connaissances Redis, PostgreSQL</li>
                    </ul>
                </div>


                <div class="deviter"></div>
                <h3 class="title with-icon"><span class="fa fa-pencil icn-title"></span> Compétences graphiques</h3>
                <div class="box-block">

                    <!-- =========
                    STart your Skills Progress point bars section
                    ===================================-->
                    <ul class="list-unstyled list-points-progress">
                        <li>
                            <span class="caption-skill">PhotoShop</span>
                            <div class="pogress-point">
                                <span class="point-indicator">30%</span>
                                <div class="progress-bar-point" style="width: 30%;"></div>
                            </div>
                        </li>
                    </ul>
                    <!-- =========
                    STart your Skills Progress point bars section
                    ===================================-->
                </div>



                <div class="deviter"></div>
                <h3 class="title with-icon"><span class="fa fa-pencil icn-title"></span> Compétences systèmes</h3>
                <div class="box-block">
                    <ul class="list-unstyled list-strip">
                        <li><i class="fa fa-check"></i> Installation, sécurisation et maintenance de serveur Debian</li>
                        <li><i class="fa fa-check"></i> Gestion de serveur web (Apache, Nginx, IIS)</li>
                        <li><i class="fa fa-check"></i> Experiences sous Windows Server 2012</li>
                    </ul>
                </div>

                <div class="deviter"></div>
                <h3 class="title with-icon"><span class="fa fa-pencil icn-title"></span> Compétences générales</h3>
                <div class="box-block">

                    <ul class="list-unstyled list-strip">
                        <li><i class="fa fa-check"></i> Géstion de projets</li>
                        <li><i class="fa fa-check"></i> Utilisation de git</li>
                        <li><i class="fa fa-check"></i> Modélisation (Merise, UML, Uses cases, ...)</li>
                        <li><i class="fa fa-check"></i> Méthodes agiles</li>
                        <li><i class="fa fa-check"></i> Suites bureautiques Microsoft</li>
                        <li><i class="fa fa-check"></i> Data mining (Talend, Cognos)</li>
                    </ul>


                </div>
                <div class="deviter"></div>
                <h3 class="title with-icon"><span class="fa fa-globe icn-title"></span> Langues</h3>
                <div class="box-block">
                    <ul class="list-unstyled list-strip">
                        <li><i class="fa fa-check"></i> Anglais (technique et général)</li>
                        <li><i class="fa fa-check"></i> Allemand</li>
                        <li><i class="fa fa-check"></i> Français</li>
                    </ul>
                </div>
                <div class="deviter"></div>
                <h3 class="title with-icon"><span class="fa fa-file icn-title"></span> Télécharger mon CV</h3>
                <div class="box-block">
                    <p>Vous pouvez télécharger mon CV en format .pdf ici :</p>
                    <a href="http://maximebret.fr/assets/content/Maxime_Bret_CV.pdf" class="btn btn-flat btn-block"><i class="fa fa-download"></i> Télécharger</a>
                </div>
            </div>
        </div>

    </div>
</div>