<div id='about' class="tab-pane fade in active">
    <div class="body-content">

        <!-- =========
        Start About your self section
        ===================================-->
        <div class="row">
            <div class="col-md-3 text-center">
                <img src="assets/images/avatar2.jpg" alt="avatar" class="img-responsive img-profile">
            </div>
            <div class="col-md-9">
                <div class="mini-desc">
                    <h2 class="title">Bonjour, je suis Maxime Bret !</h2>
                    <p>
                        Je suis un developpeur orienté web et back-end. J'étudie actuellement en Master Informatique principalement orienté développement et gestion de projets / entreprises à Nancy.
                    </p>
                    <p>
                        Mon père m'a transmis cette belle passion qu'est le monde informatique et j'ai ensuite choisis de m'intéresser plus particulièrement aux rudiments du développement.
                        Ayant rapidement découvert le web, son potentiel évolutif et ses possibilités, je me suis naturellement tourné vers ses technologies.
                        Mes compétences s'étendent cependant à d'autres langages de programmation plus ou moins courant et non web.
                        <br/>Pour finir et peut être parce que l'être humain est d'une complexité sans pareil, je découvre, apprends et expérimente tout un tas de choses comme le réseau, le hardware et la technologie en général.
                    </p>
                    <!--<p>-->
                    <!--<i class="fa fa-thumbs-up"></i>-->
                    <!--qsd-->
                    <!--</p>-->
                </div>
            </div>
        </div>
        <!-- =========
        End About your self section
        ===================================-->

        <!-- =========
        Start List Indentity and services your self  section
        ===================================-->
        <div class="deviter"></div>
        <div class="row">
            <div class="col-md-6">
                <h3 class="title with-icon"><i class="fa fa-credit-card icn-title"></i> Identité</h3>
                <div class="identity-area">
                    <div class="row">
                        <div class="col-sm-4"><label>Prénom et nom</label></div>
                        <div class="col-sm-8"> Maxime Bret</div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4"><label>D. de naissance</label></div>
                        <div class="col-sm-8"> 08 mars 1990</div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4"><label>Adresse</label></div>
                        <div class="col-sm-8"> UFR Mathématique et Informatique - Artem (Nancy)</div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4"><label>Tél</label></div>
                        <div class="col-sm-8"> +33 6 71 93 90 36</div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4"><label>Email</label></div>
                        <div class="col-sm-8"> nom.prenom(at)gmail.com</div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4"><label>Skype</label></div>
                        <div class="col-sm-8"> <i class="fa fa-skype"></i> maxime.bret</div>
                    </div>
                    <!--                          <div class="row">
                                                <div class="col-sm-4"><label>Website</label></div>
                                                <div class="col-sm-8"> <a target="_blank" href="https://wrapbootstrap.com/user/yobio">Yobio</a></div>
                                              </div>-->
                </div>
            </div>
            <div class="col-md-6">
                <h3 class="title with-icon"><i class="fa fa-bell-o icn-title"></i> Aperçu des compétences</h3>
                <div class="box-block">
                    <ul class="list-unstyled list-strip">
                        <li><i class="fa fa-check"></i> Développement web (php, node.js, MVC, langages et frameworks front-end)</li>
                        <li><i class="fa fa-check"></i> Développement applicatif (Java, C, C#)</li>
                        <li><i class="fa fa-check"></i> Modélisation de données et de projets</li>
                        <li><i class="fa fa-check"></i> Tests et intégrations</li>
                        <li><i class="fa fa-thumbs-up"></i> Et bien d'autres ...</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- =========
        End List Indentity and services your self section
        ===================================-->


        <!-- =========
        Start List fact your self section
        ===================================-->
        <!--<div class="deviter"></div>-->
        <!--<div class="row">-->
        <!--<div class="col-lg-12">-->
        <!--<h3 class="title with-icon"><i class="fa fa-check-square-o icn-title"></i> Fais</h3>-->
        <!--<div class="box-fact-area">-->
        <!--<div class="row">-->
        <!--<div class="col-sm-3">-->
        <!--<div class="box-fact">-->
        <!--<i class="fa fa-star-o icn-fixed"></i> Zend Framework-->
        <!--</div>-->
        <!--</div>-->
        <!--<div class="col-sm-3">-->
        <!--<div class="box-fact">-->
        <!--<i class="fa fa-smile-o icn-fixed"></i> 130 HAPPY CLIENTS-->
        <!--</div>-->
        <!--</div>-->
        <!--<div class="col-sm-3">-->
        <!--<div class="box-fact">-->
        <!--<i class="fa fa-globe  icn-fixed"></i> 32 GLOBAL PATNERS-->
        <!--</div>-->
        <!--</div>-->
        <!--<div class="col-sm-3">-->
        <!--<div class="box-fact">-->
        <!--<i class="fa fa-calendar-o icn-fixed"></i> Master en management d'entreprise et ingénierie des SI-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <!-- =========
        End List fact your self section
        ===================================-->

        <!-- =========
        Start List your  client  and testimonial section
        ===================================-->
        <!--                    <div class="deviter"></div>
                            <div class="row">
                              <div class="col-md-6">
                                <h3 class="title with-icon "><i class="fa fa-users icn-title"></i> Client</h3>
                                <div class="box-block">
                                  <ul class="list-unstyled list-clients clearfix">
                                    <li><a href="#"><img src="assets/images/client/client.png"  alt="" class="img-responsive"></a></li>
                                    <li><a href="#"><img src="assets/images/client/client.png" alt="" class="img-responsive"></a></li>
                                    <li><a href="#"><img src="assets/images/client/client.png" alt="" class="img-responsive"></a></li>
                                    <li><a href="#"><img src="assets/images/client/client.png" alt="" class="img-responsive"></a></li>
                                  </ul>
                                </div>
                              </div>
                              <div class="col-md-6">
                                <h3 class="title with-icon"><i class="fa fa-comments-o icn-title"></i> Testimonial</h3>
                                <div class="box-block">
                                  <div id='testimonial-slider' class="carousel slide" data-ride="carousel" data-interval="false">
                                    <div class="carousel-inner">
                                      <div class="item active">
                                        <div class="box-testimonial">
                                          <div class="oComment">
                                            <h5>interactive designer</h5>
                                            <p> Jhonny Doe is an excellent designer and completed the project successfully. I would hire him again</p>
                                            <div class="text-right date-post"><small>Post: 1 Minute Ago</small></div>
                                          </div>
                                          <img src="assets/images/avatar.png" alt=''>
                                        </div>
                                      </div>
                                      <div class="item ">
                                        <div class="box-testimonial">
                                          <div class="oComment">
                                            <h5>interactive designer</h5>
                                            <p> Jhonny Doe is an excellent designer and completed the project successfully. I would hire him again</p>
                                            <div class="text-right date-post"><small>Post: 1 Minute Ago</small></div>
                                          </div>
                                          <img src="assets/images/avatar.png" alt=''>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="control-testi-slider">
                                      <a href="#testimonial-slider" data-slide="prev"><i class="fa fa-chevron-left"></i></a>
                                      <a href="#testimonial-slider" data-slide="next"><i class="fa fa-chevron-right"></i></a>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>-->
        <!-- =========
        End List your  client  and testimonial section
        ===================================-->

    </div>
</div>